#define ZMK_POINTING_DEFAULT_SCRL_VAL 120    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE   0
#define SYM_FN 1
#define NUMPAD 2
#define UNUSED 3
#define MOUSE  4
#define SCROLL 5
#define BT     6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // MacBook-like base. NO mod-tap on alphas. Auto-mouse triggered by trackball.
            bindings = <
&lt BT ESC  &kp Q     &kp W     &kp E       &kp R           &kp T                                                     &kp Y        &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp TAB     &kp A     &kp S     &kp D       &kp F           &kp G              &mkp MCLK          &kp ESC             &kp H        &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT   &kp Z     &kp X     &kp C       &kp V           &kp B              &kp DEL            &kp LS(LC(LA(LGUI))) &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
&kp LCTRL   &kp LALT  &kp LGUI  &none       &none           &lt SYM_FN SPACE   &mo NUMPAD         &kp BSPC            &kp ENTER                                &kp CAPS  &none
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        sym_fn_layer {
            // Top row: F1-F12. Middle row: MacBook Shift+number-row symbols. Bottom row: programming symbols.
            bindings = <
&kp F1      &kp F2      &kp F3      &kp F4       &kp F5          &kp F6                                              &kp F7       &kp F8     &kp F9      &kp F10    &kp F11    &kp F12
&trans      &kp GRAVE   &kp EXCL    &kp AT       &kp HASH        &kp DLLR     &trans             &trans              &kp PRCNT    &kp CARET  &kp AMPS    &kp STAR   &kp LPAR   &kp RPAR
&trans      &kp TILDE   &kp MINUS   &kp UNDER    &kp EQUAL       &kp PLUS     &trans             &trans              &kp BSLH     &kp PIPE   &kp LBKT    &kp RBKT   &kp QMARK  &trans
&trans      &trans      &trans      &trans       &trans          &trans       &trans             &trans              &trans                                         &kp LBRC   &kp RBRC
            >;

            sensor-bindings = <&ROTATE C_VOL_DN C_VOL_UP>;
        };

        numpad_layer {
            // Right hand calculator-style numpad. 0 on right thumb (BS position).
            bindings = <
&trans      &trans      &trans      &trans       &trans          &trans                                              &trans       &kp KP_N7  &kp KP_N8   &kp KP_N9  &kp KP_MINUS    &kp BSPC
&trans      &trans      &trans      &trans       &trans          &trans       &trans             &trans              &trans       &kp KP_N4  &kp KP_N5   &kp KP_N6  &kp KP_PLUS     &kp KP_EQUAL
&trans      &trans      &trans      &trans       &trans          &trans       &trans             &trans              &trans       &kp KP_N1  &kp KP_N2   &kp KP_N3  &kp KP_ASTERISK &trans
&trans      &trans      &trans      &trans       &trans          &trans       &trans             &kp KP_N0           &trans                                         &kp KP_DOT      &kp KP_COMMA
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        unused_layer {
            // Placeholder for layer 3 to preserve MOUSE=4, SCROLL=5, BT=6 numbering.
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans  &trans
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        mouse_layer {
            // Auto-activated by trackball movement (AUTOMOUSE_TIMEOUT_MS=400).
            // J position = MB1 (left click). Preserved from original Lkeymouse.
            bindings = <
&trans  &trans       &trans  &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &kp LC(R)                      &kp LC(R)  &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &trans  &trans       &trans
&trans  &lt 5 SPACE  &trans  &mkp MB1         &mkp MB2           &mkp MB3   &mkp MB3    &trans  &mkp MB3   &mkp MB1         &mkp MB2           &trans  &lt 5 SPACE  &trans
&trans  &trans       &trans  &trans           &trans             &trans     &trans      &trans  &trans     &mkp MB4         &mkp MB5           &trans  &trans       &trans
&trans  &trans       &trans  &trans           &trans             &trans     &trans      &trans  &trans                                                 &trans       &trans
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        scroll_layer {
            // All transparent; sensor binds to scroll.
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans  &trans
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        bt_layer {
            // Activated by Esc (top-left) hold. BT_SEL on right top row.
            bindings = <
&trans  &trans  &trans        &trans        &trans        &trans                       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans
&trans  &trans  &trans        &trans        &trans        &trans     &trans    &trans  &trans        &trans        &trans        &trans        &trans          &trans
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kt KP_N4  &trans    &trans  &trans        &trans        &trans        &trans        &bt BT_CLR      &trans
&trans  &trans  &trans        &trans        &trans        &trans     &trans    &trans  &trans                                                  &bt BT_CLR_ALL  &trans
            >;
        };
    };
};
